.Rproj.user
.Rhistory
.RData
.Ruserdata
images/exercise7/.DS_Store
images/exercise4/.DS_Store
images/.DS_Store
docs/libs/.DS_Store
docs/images/.DS_Store
docs/downloads/.DS_Store
docs/.DS_Store
archive/2020/images/.DS_Store
archive/2020/docs/resources/.DS_Store
archive/2020/docs/.DS_Store
archive/2020/.DS_Store
archive/.DS_Store
.github/.DS_Store
.DS_Store
