.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdtip2 {
  border: 1px solid #34A853;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdtip2::before {
  display: block;
  content: "Tip: ";
  color: #34A853;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
.redbox {
  padding: 1em;
  background: none;
  border: 3.5px solid #ff0000;;
  border-radius: 10px;
}
.redbox2 {
  border: 1px solid #ff0000;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
.centre {
  text-align: center;
  font-weight: 1000;
}
.rmdnote2 {
  border: 1px solid #FBBC05;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdnote2::before {
  display: block;
  content: "Note: ";
  color: #FBBC05;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.rmdnote3 {
  border: 1px solid #FBBC05;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdnote3::before {
  display: block;
  content: "Note: ";
  color: #FBBC05;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
table.blueTable {
  border: 1px solid #000000;
  width: 100%;
  text-align: left;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #000000;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable thead {
  }
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
}
table.blueTable tfoot td {
  font-size: 14px;
}
.rmdspecialbox1 {
  border: 1px solid #1d91c0;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdspecialbox1::before {
  display: block;
  content: "Soil Moisture Reference Points: ";
  color: #1d91c0;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.rmdspecialbox2 {
  border: 1px solid #1d91c0;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
div.rmdspecialbox2::before {
  display: block;
  content: "Pre-event vs Event Water Using Tracer Dilution: ";
  color: #1d91c0;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
